<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<div class="container mt-4">
  <p>The secret word is: <%= secretWord %></p>
  <p>Would you like to change it?</p>
  <form method="POST">
    <div class="mb-3">
      <label for="secretWord" class="form-label">New Secret Word</label>
      <input name="secretWord" id="secretWord" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
